<footer class="row layout-footer">
  <div class="large-12 columns">
    <div class="row">
      <dl id="footer-wrapper" class="<dl> footer-info">
        <dt><%= __("WineCT") %></dt>
        <dd><p class="text-right">138 Quoc Lo 13, Thu Duc</p></dd>
        <dd><p class="text-right">Ho Chi Minh City</p></dd>
        <dd><p class="text-right">0933.637.378</p></dd>
        <dd><h3><small><p class="text-right">(<%= __('Call_Me')%>)</p></small></h3></dd>
        <dd class="email"><a href="javascript:void(0)">sptscbw@yahoo.com</a></dd>
      </dl>
    </div>
  </div>
</footer>